<table class="ui unstackable very basic collapsing table">
<tbody>

<tr>
  <td>
  <div class="license">
    <a class="larger text" rel="license" href="tel:{{ site.project.tel }}" title="联系电话">
    {% include icon.liquid id='entypo-phone' %}
    </a>
  </div>

  <div>
    <strong>技术支持以及整机定制化请联系</strong>
    <a class="project-repo" href="tel:{{ site.project.tel }}">199517B51qq</a>
  </div>
  </td>
</tr>

<tr>
  <td class="smaller text">
  <strong>软银信息科技南京有限公司</strong> {{ "now" | date: "%Y" }} (<a href="{{ site.project.repo }}">{{ site.project.repo }}</a>)
  </td>
</tr>

</tbody>
</table>
